<% if flash[:error] %>
	<div id="error_explanation">
      	<div class="alert alert-danger alert-dismissable">
     	    <%= flash[:error] %>
      	</div>
    </div>
<% end %>

<h1><%= @service.title %></h1>

<% owner = @service.user %>
<% @category = Category.find_by(@service.category_id) %>

<h2>Vendor</h2>
<p>This service is offered by <%= link_to "#{owner.username}", owner %></p>

<h2>Category</h2>
<p>This service belongs to the category <%= link_to @category.title, @category %></p>

<h2>Description</h2>
<p><%= @service.description %></p>

<!-- Display current listings -->

<h2>Current Listings</h2>

<% if @service.listings.count.zero? %>
	<p>This service doesn't have any listings yet</p>
<% else %>
	<p>This service has the following listings:</p>
	<ul>
		<% @service.listings.each do |l| %>
			<li style="list-style-type:none ; margin-bottom:10px">
				<div class="row">
					<div class="col-md-1">
						<%= link_to l.description, l %>
					</div>
					<% if current_user.id == owner.id %>
						<div class="col-md-6">
							<form action=<%= "/listings/#{l.id}" %> method="post">
								<input type="hidden" name="serviceid" value="<%= @service.id %>">
								<input type="hidden" name="listingid" value="<%= l.id %>">
								<input name="_method" type="hidden" value="delete" />
								<%= token_tag nil %>
								<button type="submit" class="btn btn-xs btn-danger" data-confirm="Delete listing '<%= l.description %>'?">Delete</button>
							</form>
						</div>
					<% end %>
				</div>
			</li>
		<% end %>
	</ul>
<% end %>

<% if current_user.username == owner.username %>
	<form action="/listings/new" method="post">
		<input type="hidden" name="serviceid" value="<%= @service.id %>">
		<%= token_tag nil %>
		<button type="submit" class="btn btn-primary">Create a listing</button>
	</form>
<% end %>