<h1>Listing</h1>

<h2>Listing Description</h2>
<p><%= @listing.description %></p>

<h2>Listing Details</h2>

<p>This is a listing for the service <%= link_to @service.title, @service %></p>

<table class="table table-bordered table-striped" style="table-layout:fixed;width:600px">
	<tr>
		<td>Starting time</td>
		<td><%= @listing.startingTime.remove_year %></td>
	</tr>
	<tr>
		<td>Ending time</td>
		<td><%= @listing.endingTime.remove_year %></td>
	</tr>
	<tr>
		<td>Minimum Price</td>
		<td><%= @listing.minPrice %></td>
	</tr>
	<tr>
		<td>Maximum Price</td>
		<td><%= @listing.maxPrice %></td>
	</tr>
	<tr>
		<td>Start Date</td>
		<td><%= @listing.startDate %></td>
	</tr>
	<tr>
		<td>End Date</td>
		<td><%= @listing.endDate %></td>
	</tr>
	<tr>
		<td>Availability</td>
		<td><%= @listing.availability %></td>
	</tr>
</table>

<% Appointment.all.each do |a| %>
	<% if a.listing.id == @listing.id %>
		<% @hasAppointment = true %>
		<% @appointment = a %>
	<% end %>
<% end %>

<% if @listing.service.user.id != current_user.id # current user is not the listing's creator %>
	<% if @appointment.listing.nil? %>
		<p>You do not have an appointment for this listing. Would you like to create one?</p>
		<form action="/appointments/new" method="post">
			<input type="hidden" name="listingid" value="<%= @listing.id %>">
			<%= token_tag nil %>
			<button type="submit" class="btn btn-info">Create Appointment</button>
		</form>
	<% elsif !@appointment.listing.nil? && @appointment.user.id == current_user.id %>
		<p>You have created an appointment for this listing. View it <%= link_to "here", @appointment %></p>
	<% end %>
<% else # current user is the listing's creator %>
	<% if !@appointment.user.nil? %>
		<% if !@appointment.isConfirmed %>
			<p>An appointment for this listing has been created, but you have not confirmed it. View it <%= link_to "here", @appointment %></p>
		<% else %>
			<p>This listing has a confirmed appointment! View it <%= link_to "here", @appointment %>.</p>
		<% end %>
	<% else @appointment.user.nil? %>
		<p>No appointment for this listing has been created yet.</p>
	<% end %>
<% end %>