<% @appointments = current_user.appointments %>
<% @confirmed = @appointments.select(&:isConfirmed) %>
<% num_confirmed = @confirmed.count %>

<p>You have signed up for <%= pluralize(num_confirmed, "appointment") %>.</p>

<p><%= pluralize(num_confirmed, "appointment") %> <%= "has".pluralize(num_confirmed) %> been confirmed.</p>
<table class="table table-bordered">
	<tr>
		<th>Listing description</th>
		<th>Offered by</th>
	</tr>
	<% @confirmed.each do |a| %>
	<tr>
		<td><%= link_to a.listing.description, a.listing %></td>
		<td><%= link_to a.listing.service.user.username, a.listing.service.user %></td>
	</tr>
</table>

<% end %>

<p><%= pluralize(@appointments.count-num_confirmed, "appointment") %> <%= "has".pluralize(num_confirmed) %> not been confirmed.</p>