<h1>Profile Page</h1>

<table class="table table-bordered table-striped">
	<tr><td>Username</td><td><%= @user.username %></td></tr>
	<tr><td>Real Name</td><td><%= @user.realName %></td></tr>
	<tr><td>Date of Birth</td><td><%= @user.dateOfBirth %></td></tr>
	<tr><td>Rating</td>
	
	<td>
		<input name="star" type="radio" class="star {split:2}" disabled="disabled" <%=raw "checked" if @user.rating==0.5 %>/>
		<input name="star" type="radio" class="star {split:2}" disabled="disabled" <%=raw "checked" if @user.rating==1.0 %>/>
		<input name="star" type="radio" class="star {split:2}" disabled="disabled" <%=raw "checked" if @user.rating==1.5 %>/>
		<input name="star" type="radio" class="star {split:2}" disabled="disabled" <%=raw "checked" if @user.rating==2.0 %>/>
		<input name="star" type="radio" class="star {split:2}" disabled="disabled" <%=raw "checked" if @user.rating==2.5 %>/>
		<input name="star" type="radio" class="star {split:2}" disabled="disabled" <%=raw "checked" if @user.rating==3.0 %>/>
		<input name="star" type="radio" class="star {split:2}" disabled="disabled" <%=raw "checked" if @user.rating==3.5 %>/>
		<input name="star" type="radio" class="star {split:2}" disabled="disabled" <%=raw "checked" if @user.rating==4.0 %>/>
		<input name="star" type="radio" class="star {split:2}" disabled="disabled" <%=raw "checked" if @user.rating==4.5 %>/>
		<input name="star" type="radio" class="star {split:2}" disabled="disabled" <%=raw "checked" if @user.rating==5.0 %>/>
		
	</td>

	</tr>
</table>

<p>View services offered by <%= @user.username %> <%= link_to "here", "/users/#{@user.id}/offered" %></p>

<!-- Send message button -->
<% if current_user.id != @user.id %>
	<button class="btn btn-success">Send a message</button>
<% end %>


<br>
<h2> Feedbacks for Services Offered </h2>


<script type="text/javascript" charset="utf-8">
      /* Formating function for row details */
      function fnFormatDetails ( oTable, nTr )
      {
        var aData = oTable.fnGetData( nTr );
        var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="table-layout:fixed" >';
        sOut += '<tr><td style="word-wrap:break-word">Review:</td><td></td><td>'+aData.review+'</td></tr>';
        
        sOut += '</table>';
        
        return sOut;
      }
      
      
      $(document).ready(function() {
        /*
         * Insert a 'details' column to the table
         */
        var nCloneTh = document.createElement( 'th' );
        var nCloneTd = document.createElement( 'td' );
        nCloneTd.innerHTML = '<img src="/details_open.png">';
        nCloneTd.className = "center";
        
        $('#ex1 thead tr').each( function () {
          this.insertBefore( nCloneTh, this.childNodes[0] );
        } );
        
        $('#ex1 tbody tr').each( function () {
          this.insertBefore(  nCloneTd.cloneNode( true ), this.childNodes[0] );
        } );
        var aDataSet1 = <%=raw @fbs.to_json %>;
        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable1 = $('#ex1').dataTable( {
          
          sPaginationType: "full_numbers",
            bJQueryUI: true,
            "aaData": aDataSet1,
            "sDom": '<"H"lfr>t<"F"ip>',
          "aoColumns": [
            {
              "mDataProp":null,
              "sClass":"control center",
              "sDefaultContent": '<img src="/details_open.png">',
              "sWidth":"14%"
            },
            {"mDataProp": "service_info", "sTitle":"Service Name",
            "mRender": function(data,type,full){
            	return '<a href="/services/'+data.split("$")[0]+'">'+data.split("$")[1]+'</a>';
            }
        },
            {"mDataProp": "buyer_info", "sTitle":"Buyer",
            "mRender": function(data,type,full){
            	return '<a href="/users/'+data.split(" ")[0]+'">'+data.split(" ")[1]+'</a>';
            }
        },
            {"mDataProp": "rating", "sTitle":"Rating"},
            
            
          ],
          "aoColumnDefs": [ {
      "aTargets": [1,2,3],
      "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
        
          $(nTd).css('color', 'blue')
        
      }
    } ]
        });
        
        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#ex1 tbody td img').live('click', function () {
          var nTr = $(this).parents('tr')[0];
          if ( oTable1.fnIsOpen(nTr) )
          {
            /* This row is already open - close it */
            this.src = "/details_open.png";
            oTable1.fnClose( nTr );
          }
          else
          {
            /* Open this row */
            this.src = "/details_close.png";
            oTable1.fnOpen( nTr, fnFormatDetails(oTable1, nTr), 'details' );
          }
        } );
      } );
    </script>  
<br>
    <table class="display" id="ex1" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th> Service </th>
      <th> Buyer </th>
      <th> Rating </th>
      
      
    </tr>
  </thead>
  <tbody>
    
